{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{%endblock %}

{% block head %}
{{super()}}
{%endblock %}

{% block content %}
{{super()}}
<!-- <main role="main"> -->
    <div class="jumbotron">
        <h1>Wellcome </h1>
        <p>BCAT web UI will make your life easier</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Sign up</a>
        </p>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6" style= "padding-left: 0;padding-right: 0">
                <label for="inputState">VNF type</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="1">epg</option>
                    <option value="2">sapc</option>
                    <option value="3">wmg</option>
                    <option value="3">mme</option>
                </select>
            </div>
            <div class="form-group col-md-6" style= "padding-left: 5;padding-right: 0">
                <label for="inputZip">VDP name</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" style= "padding-left: 0;padding-right: 0">
                <label for="inputZip">vEPC config</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" style= "padding-left: 0;padding-right: 0">
                <label for="file2">VNF config</label>
                <label class="custom-file col-md-12">
                    <input type="file" id="file2" class="custom-file-input" value="Choose VNF config">
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
<!-- </main> -->
{%endblock %}


