{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block head %}  
  {{ super() }}  
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
{%endblock %}

  {%block body %} 
    <div class="panel-group" id="accordion">
    {% for key, value in vepc.iteritems() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#{{ key }}">
					{{ key }}
				</a>
			</h4>
		</div>
		<div id="{{ key }}" class="panel-collapse collapse in">
			<div class="panel-body">
					{% for item in value %}
					<li>{{ item }}</li>
					{% endfor %}					
			</div>
		</div>
	</div>

	{% endfor %}
	
	</div>
 {%endblock %} 
